[submodule "themes/hugo-hero-theme"]
	path = themes/hugo-hero-theme
	url = https://github.com/zerostaticthemes/hugo-hero-theme.git
[submodule "themes/graysx-hugo"]
	path = themes/graysx-hugo
	url = https://github.com/akatiggerx04/graysx-hugo/
