{{ define "main" }}
<container>
    <div class="container">

        <div class="main-title row text-container text-center">
            <h1 class="col page-title"> {{ .Title}}</h1>
        </div>

        <div class="row slope text-container">
            <div class="col se-content">
                {{ .Content }}
            </div>
        </div>


        {{ range after 1 .Pages.ByWeight }} <!-- For each content in about-->
            {{ .Render "member_detail" }} <!-- This renders the summary.html content-->
        {{ end }}

        <!-- Feedback -->
    </div>

</container>

{{ end }}
