$framing-bg: white;
$main-bg: rgb(255, 205, 230);


body {
    background-color: $main-bg;
    border: 36px $framing-bg solid;

}

nav {
    background-color: $framing-bg;
    border-left: 36px $framing-bg solid;
    border-right: 36px $framing-bg solid;
}

.text-center {
    text-align: center !important;
}

.text-container {
    margin: 3em 1em;
    font-size: 24px;
}

.main-row {
    font-weight: bold;
    color: white;
    background-color: white;
    background-image: url("/foot2hand-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;}

.splash-heading {
    padding: 6em 0em 8em;
}

.splash-logo {
    mix-blend-mode: screen;
    filter: brightness(1) invert(1);
}

main-title {

}

.testimony {
    padding: 2em 1em ;
    background-color: var(--bs-light);
}


.member {
    background-color: white;
}

/**
Scroll down colour change
*/
.navbar-fixed-top.scrolled {
    background-color: $main-bg !important;
    transition: background-color 200ms linear;
}

/**
Slanted dividers:
*/

.se-content h3 {
    font-size: 60px;
    position: relative;
    display: inline-block;
    padding: 10px 30px 8px 30px;
    height: 80px;
    line-height: 80px;
    margin-bottom: 20px;
    font-family: 'Bitter', 'Trebuchet MS', Arial;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

.se-slope:nth-child(odd) .se-content h3 {
    background: #e90089;
    color: #000;
}

.se-slope:nth-child(even) .se-content h3 {
    background: #000;
    color: #e90089;
}

.se-content h3:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 38px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid black;
    position: absolute;
    left: -59px;
    top: 0px;
}

.se-content h3:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 38px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid black;
    position: absolute;
    right: -59px;
    top: 0px;
}

.contact-us {
    padding-top: 40px;
    padding-bottom: 40px;
}