{{ define "main" }}
<container>
    <div class="container">
        <div class="main-title row slope text-container text-center">
            <!-- <div class="col se-content"> -->
            <div class="col page-title">
                <h2> {{.Title}}</h2>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row slope text-container">
            <div class="col se-content">
                {{ .Content }}
            </div>
        </div>
    </div>

    {{ partial "contact.html" . }}

</container>

{{ end }}
