{{ define "main" }}

<div class="container-fluid landing-logo">
    <!-- <div class="row slope main-row text-center img-fluid">
        <div class="col se-content">
            <h1 class="splash-heading">Duo Momentum</h1>
            <video id="bg-video" autoplay loop muted>
                <source src="/website_video_bg2.mp4">
            </video>
            <img class="m-5 img-fluid splash-logo" src="/logo.png">
        </div>
    </div> -->
    <div class="row">
        <div class="col">
            <!-- <h1 class="splash-heading">Duo Momentum</h1> -->
            <video id="bg-video" autoplay loop muted>
                <source src="/website_video_bg2.mp4">
            </video>
            <img class="m-5 img-fluid splash-logo" src="/logo.png">
        </div>
    </div>
</div>

<div class="container-fluid landing-content">
    <div class="row slope text-container text-center">
        <div class="col se-content">
            {{ .Content }}
        </div>
    </div>
    <!-- Feedback -->
    <div class="row slope bg testimony">
        <div class="col-4 se-content justify-content-center">
            <img class="img-fluid  rounded mx-auto d-block" src="https://placehold.co/200.png?font=lato">
        </div>
        <div class="col-7 se-content m-4">
            “Duo Momentumin esitys oli raikas, säväyttävä ja vauhdikas! Se oli monelle paikalle olleelle
            ensimmäinen kerta, kun
            näkivät pariakrobatiaa ja sainkin osallistujilta palautetta siitä, kuinka esitys oli loistava
            piristysruiske ja
            inspiraation lähde monelle!” <br>
            – Henriikka Konki, Jooga Om -festivaalin perustaja
        </div>
    </div>


    <!-- Contact -->
    <div class="row slope mt-4">
        <div class="col-4 se-content justify-content-center">
            <img class="img-fluid  rounded mx-auto d-block" src="https://placehold.co/200.png?font=lato">
        </div>
        <div class="col-7 se-content m-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin condimentum felis ligula, at euismod
            elit ultricies
            vitae. In at consectetur arcu. Suspendisse sit amet orci id magna auctor gravida vel in eros. Sed
            non gravida mauris.
            Cras egestas, erat vel cursus tempor, augue leo finibus diam, nec efficitur est ex sed ipsum.
            Integer viverra
            scelerisque augue, vel sodales ligula
        </div>
    </div>
    <!-- IG -->
    <div class="row slope bg mt-4 testimony">
        <div>
            <img class="p-4 img-fluid float-start rounded" src="https://placehold.co/250.png?font=lato">
            <img class="p-4 img-fluid float-start rounded" src="https://placehold.co/250.png?font=lato">
            <img class="p-4 img-fluid float-start rounded" src="https://placehold.co/250.png?font=lato">
            <img class="p-4 img-fluid float-start rounded" src="https://placehold.co/250.png?font=lato">
            <img class="p-4 img-fluid float-start rounded" src="https://placehold.co/250.png?font=lato">
            <img class="p-4 img-fluid float-start rounded" src="https://placehold.co/250.png?font=lato">
        </div>

    </div>
</div>

{{ partial "contact.html" . }}

{{ end }}
